.header__list-item {
    width: 100px;
    position: relative;
    margin-right: 21px;
    border: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s linear;
    border-bottom: solid 2px transparent;

}
.header__list-item:last-of-type {
    margin-right: 0;
}

@media screen and (min-width: 1023px) {
    .header__list-item:hover {
        border-bottom: solid 2px #009FAC;
       
    }
    
}

.header__list-item:hover .header__list-second-links {
    display: block;
}

/*До десктопа*/

@media (max-width: 1020px) {
    .header__list-item {
       flex-direction: column;
       align-items: flex-start;
       width: 100%;
       min-height: 44px;
       margin-right: 0;
       padding-left: 16px;
       
    }
    .header__list-item:hover {
        background-color: #001337;
        opacity: 1;
    }
}
