.page {
  min-height: 100vh;
  width: 100%;
  color: #000;
  font-family: 'Open Sans', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #001337;
  margin: 0 auto;
}