.footer__copyright-title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .footer__copyright-title {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer__copyright-title {
    font-size: 12px;
    line-height: 16px;
  }
}
