.pop-up {
    box-sizing: border-box;
    position: relative;
    width: 1110px;
    height: 718px;
    display: grid;
    grid-template-columns: 400px 670px;
    grid-template-rows: 30px auto;
    grid-template-areas: 
    'img title'
    'img text';
    padding: 20px;
    background: #FFFFFF;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .pop-up {
        width: 690px;
        height: 454px;
        grid-template-columns: 199px 451px;
        grid-template-rows: 20px auto;
    }
}

@media screen and (max-width: 320px) {
    .pop-up {
        width: 300px;
        height: 444px;
        padding: 16px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        'title'
        'img'
        'text';
    }
}