.partners__image_gazprom {
  width: 112px;
  height: 48px;
}

@media (max-width: 767px) {
  .partners__image_gazprom {
    width: 46px;
    height: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .partners__image_gazprom {
    width: 74px;
    height: 32px;
  }
}
