.ai-research__card_calculations::before {
  background-image: url(../../../../images/Lab/Data.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: '';
  position: absolute;
}

.ai-research__card_calculations:hover {
  background-color: #009FAC;
}

@media screen and (max-width: 767px) {
  .ai-research__card_calculations::before {
    display: none;
  }
}
