.article-card__copy {
  margin: 0;
  font-weight: 400;
  font-size: 14.68px;
  line-height: 19.07px;
  color: #000d26;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .article-card__copy {
    font-size: 12px;
    line-height: 16px;
    -webkit-line-clamp: 8;
  }
}
