.article-card__link {
  text-decoration: none;
  display: flex;
  cursor: pointer;
  margin: 0 12px 0 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.article-card__link img {
  margin-left: 12px;
}

@media screen and (max-width: 425px) {
  .article-card__link {
    font-size: 14px;
    line-height: 19px;
  }
}
